html, body{
	
	margin-left:15px; margin-right:5px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	overflow-y: scroll; overflow-x:hidden;
	
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:95%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #0775d3;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	
 
#wrapper {width: 131.5%; margin-top: 0px; }
#header {width: 72%; background: #0775d3; margin-top: 0px; padding:15px 0px 15px 0px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container h2 {color: #000;}
#container #content {margin-top: 20px;}

.add-patient-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	
	margin-bottom: 5px;
	background: #cccccc;
}


.add-bill-button
{
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	margin-top:10px;
	margin-bottom: -5px;
	background: #cccccc;
}



.lout
{
	margin-left:1350px;
	padding: 4px;
	padding: 5px 10px;
	
}
